{% extends 'base.html' %}
{% block content %}

<div class="content">

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#0E2EB0">
                            <th font color="red">Nombre</th>
                            <th>Dirección</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Website</th>
                            <th>Numero de Estudiantes</th>
                            <th>Cantidad de Cursos</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>{{ institucion.nombre }}</td>
                            <td>{{ institucion.direccion }}</td>
                            <td>{{ institucion.telefono }}</td>
                            <td>{{ institucion.email }}</td>
                            <td>{{ institucion.website }}</td>
                            <td>{{ institucion.numero_estudiantes }}</td>
                            <td>{{ institucion.cantidad_cursos }}</td>
                        </tr>

                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/instituciones' ">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}